
/*---
Columns
@group			Layout/Columns
@desc			...
@todo			Document
@author			Michael Ord
---
...
*/
.l-columns
{
	$parent						: &;

	@include bemit()
	{
		display					: table;
		table-layout			: fixed;
		width					: 100%;

		> *
		{
			display				: table-cell;
		}
	}
}
