
/*---
Container
@group			Layout/Container
@desc			...
@modifier		container--padded					: Padded
@modifier		container--sm						: Small
@modifier		container--md						: Medium
@modifier		container--lg						: Large
@modifier		container--xl						: Extra Large
@modifier		container--full						: Full
@modifier		container--left container--md 		: Left
@modifier		container--right container--md 		: Right
@todo			Document
@author			Michael Ord
@tags			layout
---
<div class="container {modifier}">
	<div class="d-placeholder"></div>
</div>
*/

/// ...
/// @group framework
/// @access public
/// @type Number
$width-sm-percent				: 0.4 !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$width-md-percent				: 0.7 !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$width-lg-percent				: 1.3 !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$width-xl-percent				: 1.6 !default;

.container
{
	$parent						: &;

	max-width					: $width-default;
	clear						: both;
	width						: 100%;
	margin-left					: auto;
	margin-right				: auto;

	@if($debug)
	{
		outline					: 2px dotted orange;
	}

	// this is a fix to get round the need to overflow:hidden, as it can break a lot
	&:after
	{
		content					: "";
		display					: table;
	}

	&--padded
	{
		padding-left			: 1rem;
		padding-right			: 1rem;
	}

	&--sm
	{
		max-width				: $width-default * $width-sm-percent;
	}

	&--md
	{
		max-width				: $width-default * $width-md-percent;
	}

	&--lg
	{
		max-width				: $width-default * $width-lg-percent;
	}

	&--xl
	{
		max-width				: $width-default * $width-xl-percent;
	}

	// full width removed padding and widths
	&--full
	{
		max-width				: none;
	}

	&--right
	{
		margin-right			: 0;
	}

	&--left
	{
		margin-left			: 0;
	}
}
