
/*---
Grid
@group			Layout/Grid
@desc			...
@todo			Document
@author			Michael Ord
@tags			layout,grid,responsive
---
...
*/
.grid
{
	$gutter						: 40px;
	$parent						: &;

	display						: flex;
	flex-direction				: row;
	flex-wrap					: wrap;
	list-style					: none;
	//margin						: 0 0 $gutter 0;
	margin						: 0;
	padding						: 0;

	&__item
	{
		width					: 100%;

		@if($debug)
		{
			min-height			: 2rem;
			outline				: 2px solid #eee;

			@for $i from 1 through 6
			{
				&:nth-child(#{$i}n)
				{
					background-color	: darken(#fff, 2% * $i);
				}
			}
		}
	}

	$max-items					: 8;

	// loop through all the grid breakpoints - so we can create a modifier for each
	@each $size in $grid-breakpoints
	{
		// include the media query
		@include device($size)
		{
			// loop through the different columns
			@for $i from 1 through $max-items
			{
				// create the modifier
				&--#{$i}\@#{$size}
				{
					> #{$parent}__item
					{
						//margin-bottom			: 1rem;
						width					: (100% / #{$i});
					}
				}
			}
		}
	}

	&--gutters
	{
		margin-left				: (-$gutter / 2);
		//margin-right			: (-$gutter / 2);

		> #{$parent}__item
		{
			padding				: 0 ($gutter / 2);
		}

		& + &
		{
			//margin-top			: -$gutter;
		}
	}

	&--margins
	{
		margin-bottom			: $gutter;
	}

	$columns					: 12;

	@each $size in $grid-breakpoints
	{
		// include the media query
		@include device($size)
		{
			// loop through the different columns
			@for $i from 1 through $columns
			{
				// create the modifier
				#{$parent}__item-#{$i}\@#{$size}
				{
					width		: (100% * ($i / $columns));
				}
			}
		}
	}
}
