
/*---
Justified
@group			Layout/Justified
@desc			...
@todo			Document
@author			Michael Ord
---
...
*/
.j
{
	display						: flex;
	align-items					: flex-end;
	flex-wrap					: wrap;
	align-items					: center;

	> div
	{
		white-space				: nowrap;

		> *:last-child
		{
			margin-bottom		: 0;
		}
	}

	&__main
	{
		flex-grow				: 1;
		padding-right			: $gutter;
	}
}
