
.page-header,
.page-main,
.page-footer
{
	position					: relative;
	margin						: 0 auto;
	width						: 100%;
}

.page-main
{
	// make sure that anything in the body can overlay the footer
	z-index						: 10;
}

.page-footer
{
	// give the footer the lowest depth as it's unlikely to have content that needs to overlap
	z-index						: 5;
}

// This will fox the footer to the bottom of the page - so on pages that are light
// on content, the footer will always appear at the bottom of the page
.page
{
	&__body
	{
		display					: flex;
		min-height				: 100vh;
		flex-direction			: column;
	}

	&__main
	{
		flex					: 1;
	}
}

//.container,
[class*="__body"],
[class*="__inner"],
[class*="__footer"]
{
//	@extend %remove-first-last;
}
