

/// ...
/// @group framework
/// @access public
/// @type String
$media-spacing					: 1rem !default;

/*---
Media
@group			Layout/Media
@desc			A common pattern for displaying a figure next to some content, sometimes referred to a a flag
@modifier		media--top				: Top
@modifier		media--bottom			: Bottom
@modifier		media--figure-top		: Figure Top
@modifier		media--body-top			: Body Top
@modifier		media--figure-bottom	: Figure Bottom
@modifier		media--body-bottom		: Body Bottom
@modifier		media--reverse			: Reverse
@modifier		media--split			: Split
@author			Michael Ord
@tags			layout,component
---
<div class="media {modifier}">
	<div class="media__figure">
		<img src="//placehold.it/100" class="img img--thumbnail">
	</div>
	<div class="media__body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi veniam, consequuntur dolorem animi quis minima saepe, ratione aliquid sapiente ut nam tenetur officiis atque tempore voluptatibus rem? Neque, at dolore!</p>
	</div>
</div>
*/
.media
{
	$parent						: &;

	display						: flex;
	align-items					: center;

	&__body
	{
		flex					: 1;

		// Fixes issue with word-wrap not working in IE 10 when this class is
		// applied to a span element
		display					: inline-block;

		> *
		{
			&:first-child:not(.btn)
			{
				margin-top		: 0;
			}

			&:last-child:not(.btn)
			{
				margin-bottom	: 0;
			}
		}
	}

	&__figure
	{
		max-width				: 80px;
		padding-right			: $media-spacing;

		@include device(md)
		{
			max-width			: 40%;
		}
	}

	&--top
	{
		align-items				: flex-start;
	}

	&--bottom
	{
		align-items				: flex-end;
	}

	&--figure-top
	{
		#{$parent}__figure
		{
			align-self			: flex-start;
		}
	}

	&--body-top
	{
		#{$parent}__body
		{
			align-self			: flex-start;
		}
	}

	&--figure-bottom
	{
		#{$parent}__figure
		{
			align-self			: flex-end;
		}
	}

	&--body-bottom
	{
		#{$parent}__body
		{
			align-self			: flex-end;
		}
	}

	&--reverse
	{
		flex-direction			: row-reverse;

		#{$parent}__figure
		{
			padding-left		: $media-spacing;
			padding-right		: 0;
		}
	}

	&--split
	{
		> #{$parent}__body,
		> #{$parent}__figure
		{
			max-width			: 50%;
			width				: 100%;
		}

		> #{$parent}__figure
		{

		}
	}
}
