
/*---
Row Cells
@group			Layout/Row Cells
@desc			...
@todo			Document
@author			Michael Ord
---
...
*/
.g
{
	$parent						: &;
	position					: relative;

	$site-width					: 1360px;

	&__content
	{
		margin					: 0 auto;
		max-width				: $site-width;
		//padding					: $gutter / 2;

		@include device(lg)
		{
		//	padding				: $gutter;
		}
	}

	&__cell
	{
		background-size			: cover;
		//outline					: 1px solid $clr-todo;

		> img
		{
			width				: 100%;
			max-width			: none;
			width				: 100%;
			height				: 100%;
			object-fit			: cover;

			@include device(lg)
			{
				position		: absolute;
				top				: 0;
			}
		}

		&.wide
		{
			#{$parent}__content
			{
				max-width		: none;
			}
		}

		&.padding-none
		{
			#{$parent}__content
			{
				padding			: 0;
			}
		}
	}

	&__inner
	{
		background-size			: cover;
		position				: relative;
	}

	@include device(lg)
	{
		width					: 100%;
		display					: flex;

		&__cell
		{
			position			: relative;

			&:first-child,
			&:last-child
			{
				flex-grow		: 1;
				width			: auto;
			}

			&:first-child
			{
				#{$parent}__content
				{
					margin-right	: 0;
				}
			}

			&:last-child
			{
				#{$parent}__content
				{
					margin-left		: 0;
				}
			}

			&.last\@lg
			{
				order				: 5;

				#{$parent}__content
				{
					margin-left		: 0;
					margin-right	: auto;
				}

				+ #{$parent}__cell
				{
					#{$parent}__content
					{
						margin-left		: auto;
						margin-right	: 0;
					}
				}
			}

			&:only-child
			{
				#{$parent}__content
				{
					margin-left		: auto;
					margin-right	: auto;
				}
			}

			&:nth-child(odd)
			{
			}

			&:nth-child(even)
			{
			}
		}

		&--center
		{
			align-items			: center;
		}

		@for $n from 2 through 10
		{
			&--#{$n}
			{
				#{$parent}__cell
				{
					width		: calc((100% - (100% - #{$site-width})) / #{$n});
				}

				#{$parent}__content
				{
					max-width	: ($site-width / $n);
				}
			}
		}
	}
}
