/**
 * Text Columns
 * This allows you to create text column layouts simply by adding a few classes
 * to a wrapping container
 */
$text-columns-max				: 6 !default;
$text-columns-gutter			: 40px !default;

// if there is a maximum number of text columns defined, then we can expect that
// we're planning on using text columns
@if($text-columns-max)
{
	$parent						: &;

	/*---
	Text Columns
	@group			Layout/Columns
	@desc			...
	@todo			Document
	@author			Michael Ord
	@tags			layout,typography
	---
	...
	*/
	.text-columns
	{
		// apply the column gap we're expecting
		column-gap				: $text-columns-gutter;
		text-align				: left;

		// loop through all the grid breakpoints - so we can create a modifier for each
		@each $size in $grid-breakpoints
		{
			// include the media query
			@include device($size)
			{
				// loop through the different columns
				@for $i from 1 through $text-columns-max
				{
					// create the modifier
					&--#{$i}\@#{$size}
					{
						column-count	: #{$i};
					}
				}
			}
		}
	}
}
